@import "config"

configuration {
    show-icons: false;
}

window {
    width: 11%;
}

listview {
    columns: 1;
    lines: 6;
}

inputbar {
    enabled: false;
}

element-text {
    font: "JetBrainsMono Nerd Font 14";
}
