[Unit]
Description=Toggle the bluelight filter shader in the morning and at night.

[Timer]
OnCalendar=*-*-* 19:00:00
OnCalendar=*-*-* 7:00:00
Persistent=true

[Install]
WantedBy=timers.target
